<div class="page">
	<div class="panel panel-default">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-i18n="Help"></span></strong></div>
		<div class="panel-body">
			<ul style="padding-left: 0px;">
				<li><a href="https://onedrive.live.com/view.aspx?resid=B794E4800A7DF2D8!41189&app=Word&wdo=2&authkey=!ACKBCBoAXJkaCq4" target="_blank">Instrucciones y Preguntas Frecuentes</a></li>
				<li><b>Recursos Importantes</b>
					<ul style="padding-left: 10px;">
						<li><a href="https://www.registrocivil.cl/OficinaInternet/adquirirCertificado.do" target="_blank">Registro Civil</a></li>
						<li><a href="https://skydrive.live.com/redir?page=view&resid=B794E4800A7DF2D8!41194&authkey=!ANZ1Fhy_Q5BuxKU" target="_blank">Como usar El Rescate en 20 min.</a></li>
					</ul>
				</li>
				<li><b>Guias para actualizar MLS</b>
					<ul style="padding-left: 10px;">
						<li><a href="https://skydrive.live.com/redir?page=view&resid=B794E4800A7DF2D8!40565&authkey=!AAgpwB8g-OauQuc" target="blank">Cambios de dirección y cabeza de familia</a></li>
						<li><a href="https://skydrive.live.com/redir?page=view&resid=B794E4800A7DF2D8!40558&authkey=!AJlRCtQdUpu7DGg" target="blank">Muertos</a></li>
						<li><a href="https://skydrive.live.com/redir?page=view&resid=B794E4800A7DF2D8!40563&authkey=!ACOuE0zo4rmKAGE" target="blank">Nombre y Fecha Errores</a></li>
						<li><a href="https://onedrive.live.com/redir?resid=B794E4800A7DF2D8!32096&authkey=!AA7cmGzBYAx_QuU&ithint=folder%2c.mp4" target="blank">Como Actualizar las cédulas de miembro (video de lds.org)</a></li>
						<li><a href="https://skydrive.live.com/redir?page=view&resid=B794E4800A7DF2D8!41106&authkey=!AHidgzJh53j52BA" target="blank">Miembro fuera de la unidad y secretario auxiliar</a></li>
						<li><a href="https://skydrive.live.com/redir?page=view&resid=B794E4800A7DF2D8!40931&authkey=!ABna7FNphObspqw" target="blank">Ubicar miembros en el mapa del barrio en lds.org</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
